extends layout
block content

    link(rel='stylesheet', href='/stylesheets/input.css')

    div.container
        div.row
            div.col-lg-4
            div.col-lg-4
                div#loginBlock
                    h3 Войти в айти
                    div.form-group
                        input#username.form-control.red(type="username",name="username",maxlength=15, placeholder="логин", oninput="updateState()")
                    div.form-group
                        input#password.form-control.red(type="password",name="password",maxlength=15 ,placeholder="пароль", oninput="updateState()")
                    div.checkbox
                        label
                            input#remember(type="checkbox",name="rememberCheckBox")
                            span запомнить
                    button#submit.btn.btn-danger войти
                    br
                    br
                    a(href="/registry")
                        h4 зарегистрироваться
                    p#errorstatus
            div.col-lg-4

    script(src="/javascripts/ajax.js")
    script(src="/javascripts/login.js")