extends layout
block content

    link(rel='stylesheet', href='/stylesheets/login.css')

    div.container
        div.row
            div.col-lg-4
            div.col-lg-4.text-center
                h2 войти в айти
                div#react

            div.col-lg-4

    script(src="/javascripts/react.min.js")
    script(src="/javascripts/react-dom.min.js")
    script(src="/javascripts/ajax.js")
    script(src="/javascripts/login.js")
