nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid

        ul.nav.navbar-nav
            li: a(href="/") главная
            li: a(href="/sudoku") судоку
            li: a(href="/astar") algorithm A*
            li: a(href="/words") словарь

        div.nav.navbar-nav.navbar-right
            li: a #{user}
            li: a#logout(href="#") выйти

script(src="/javascripts/panel.js")